doctype html
html
    head 
        title Aplicatie | #{tractor}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')

    body
        