doctype html
html
    head 
        meta(charset='UTF-8') 
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='css/general.css')
        title Ferma ta
    body
        nav.navbar
            ul
                li.pozaNavbar
                    a(href='/') FERMA TA
                li
                    a(href='#') DESPRE NOI
                li     
                    a(href='#') CONTACT 
                    ul
                        li 
                            a(href='#') Facebook
                        li 
                            a(href='#') Email  
                        li 
                            a(href='#') Instagram
                li.linkLogare
                    a(href='/login') AUTENTIFICARE
                li.linkInscriere
                    a(href='/signup') ÎNSCRIERE
        div.img-container
            img(src="../img/backgroundGeneral.jpg", alt="")
